.kitchen {
    background-image: url(../img/kitchen.svg);
    width: 100vw;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 130px;
    position: relative;
}

.alvar {
    height: 300px;
    position: absolute;
    bottom: 0;
}


/* First move*/

.move {
    animation: moveanimation 2s ease-in;
}

@keyframes moveanimation {
    0% {
        transform: translate(-200px);
    }
    100% {
        transform: translate(100vw);
    }
}


/*Move to 30*/

.movetothirty {
    animation: moveingto 2s forwards;
}

@keyframes moveingto {
    0% {
        transform: translate(-200px);
    }
    100% {
        transform: translate(30%);
    }
}

/*Move from 30*/
.movefromthirty{
    animation: movefromthirty 2s forwards;
}

@keyframes movefromthirty{
    0%{
        transform: translate(30%);
    }
    100%{
        transform: translate(100vw);
    }
}

/* one jump*/

.oneJump {
    animation: herojump 2s ease-in forwards;
}

@keyframes herojump {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 200px;
    }
}
