.kitchen {
    background-image: url(../img/kitchen.svg);
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-left: 60px;
}

.alvar {
    height: 300px;
}



.move{
    animation: moveanimation 1s ease-in infinite;
}

@keyframes moveanimation{
    to{
        transform: translate(-5vh);
    }
}
